<nav class="bg-stone-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white text-lg font-exo" routerLink="/">Ticket Booking</a>
    <div class="flex items-center">
      <ul class="flex space-x-4">
        <li>
          <a
            class="text-white font-exo"
            routerLink="/home"
            routerLinkActive="text-blue-400 "
            >Home</a
          >
        </li>
        <li>
          <a
            class="text-white font-exo"
            routerLink="/events"
            routerLinkActive="text-blue-400"
            >Events</a
          >
        </li>
        <li>
          <a
            class="text-white font-exo"
            routerLink="/login"
            routerLinkActive="text-blue-400"
            >Login/Sign Up</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
