<nav class="bg-stone-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex flex-row justify-center items-center gap-2 cursor-pointer">
      <img src="Icon.png" alt="Icon" class="h-10 w-10 rounded-full" />
      <a class="text-white text-lg font-exo" routerLink="/">Ticket Booking</a>
    </div>
    <div class="flex items-center">
      <ul class="flex space-x-4">
        <li>
          <a
            class="text-white font-exo"
            routerLink="/home"
            routerLinkActive="text-blue-400 "
            >Home</a
          >
        </li>
        <li>
          <a
            class="text-white font-exo"
            routerLink="/events"
            routerLinkActive="text-blue-400"
            >Events</a
          >
        </li>
        <!-- Show 'My Bookings' and 'Logout' if logged in -->
        @if(isLoggedIn){
        <li>
          <a
            class="text-white font-exo"
            routerLink="/bookings"
            routerLinkActive="text-blue-400"
            >My Bookings</a
          >
        </li>
        <li>
          <a
            class="text-white font-exo"
            routerLink="/profile"
            routerLinkActive="text-blue-400"
            >{{ username }}</a
          >
        </li>
        <li>
          <a class="text-white font-exo cursor-pointer" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </a>
        </li>

        }

        <!-- Show 'Login' if not logged in -->
        @if(!isLoggedIn){

        <li>
          <a
            class="text-white font-exo"
            routerLink="/login"
            routerLinkActive="text-blue-400"
            >Login</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
