<div class="container font-exo mx-auto p-4 max-h-[85vh] overflow-y-auto">
  <h1 class="text-3xl font-bold mb-4 text-center">
    Ticket Booking Application - Register
  </h1>
  <div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6">
    <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Username
        </label>
        <input
          formControlName="username"
          type="text"
          id="username"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your username"
          required
        />
        <div
          *ngIf="
            userRegisterForm.get('username')?.invalid &&
            userRegisterForm.get('username')?.touched
          "
          class="text-red-500"
        >
          Please enter your username.
        </div>
      </div>

      <!-- First Name -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="firstName"
        >
          First Name
        </label>
        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your first name"
          required
        />
        <div
          *ngIf="
            userRegisterForm.get('firstName')?.invalid &&
            userRegisterForm.get('firstName')?.touched
          "
          class="text-red-500"
        >
          Please enter your first name.
        </div>
      </div>

      <!-- Last Name -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="lastName"
        >
          Last Name
        </label>
        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your last name"
          required
        />
        <div
          *ngIf="
            userRegisterForm.get('lastName')?.invalid &&
            userRegisterForm.get('lastName')?.touched
          "
          class="text-red-500"
        >
          Please enter your last name.
        </div>
      </div>

      <!-- Email -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your email"
          required
        />
        <div
          *ngIf="
            userRegisterForm.get('email')?.invalid &&
            userRegisterForm.get('email')?.touched
          "
          class="text-red-500"
        >
          Please enter a valid email.
        </div>
      </div>
      <!-- Password -->
      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="password"
        >
          Password
        </label>
        <input
          formControlName="password"
          type="password"
          id="password"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your password"
          required
        />
        <div
          *ngIf="
            userRegisterForm.get('password')?.invalid &&
            userRegisterForm.get('password')?.touched
          "
          class="text-red-500"
        >
          Password must be at least 8 characters long.
        </div>
      </div>

      <!-- Optional Fields -->
      <!-- Phone Number -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
          Phone Number (optional)
        </label>
        <input
          formControlName="phoneNumber"
          type="tel"
          id="phone"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your phone number"
        />
        <div
          *ngIf="
            userRegisterForm.get('phoneNumber')?.invalid &&
            userRegisterForm.get('phoneNumber')?.touched
          "
          class="text-red-500"
        >
          Please enter a valid phone number.
        </div>
      </div>

      <!-- File Upload for Profile Picture -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="profilePicture"
          >Profile Picture (optional)</label
        >
        <input
          type="file"
          (change)="onFileChange($event)"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
        />
      </div>

      <!-- Preferred Language -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="preferredLanguage"
        >
          Preferred Language (optional)
        </label>
        <input
          formControlName="preferredLanguage"
          type="text"
          id="preferredLanguage"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your preferred language"
        />
      </div>

      <!-- Preferred Currency -->
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="preferredCurrency"
        >
          Preferred Currency (optional)
        </label>
        <input
          formControlName="preferredCurrency"
          type="text"
          id="preferredCurrency"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter your preferred currency"
        />
      </div>

      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded-lg w-full font-semibold hover:bg-blue-600"
          type="submit"
        >
          Register
        </button>
      </div>
      <p class="text-center text-gray-600 mt-4">
        Already have an account?
        <a routerLink="/login" class="text-blue-500 cursor-pointer"
          >Login here</a
        >
      </p>
    </form>
  </div>
</div>
