<div
  class="bg-white shadow-lg rounded-lg overflow-hidden mt-4 w-full h-full hover:scale-105 transition-all duration-150"
>
  @if(event){
  <ng-container>
    <div class="p-4 flex flex-col flex-1 h-full">
      <!-- Images Carousel -->
      <app-carousel [images]="event.images"></app-carousel>

      <div
        class="cursor-pointer flex flex-1 flex-col"
        (click)="goToEvent(event.eventID)"
      >
        <!-- Event Name -->
        <p
          class="text-2xl font-semibold mb-6 text-blue-700 mt-4 cursor-pointer w-fit hover:underline font-exo"
          (click)="goToEvent(event.eventID)"
        >
          {{ event.name }}
        </p>

        <!-- To show event category tags -->
        <div class="flex flex-wrap gap-2 mb-4">
          <ng-container *ngFor="let category of event.categories">
            <span
              class="bg-blue-100 text-blue-800 text-sm font-semibold px-3 py-1 rounded-full"
            >
              {{ category }}
            </span>
          </ng-container>
        </div>

        <p class="text-gray-600 w-full mb-3">
          <strong>Description: </strong>
          {{ event.eventDescription || "No description available" }}
        </p>

        <div class="flex-1">
          <p class="text-gray-600 w-full my-2">
            <mat-icon class="align-middle">location_on</mat-icon>
            <strong class="align-middle">Location: </strong>
            {{ event.venue.state || "Location unavailable" }}
          </p>

          <p class="text-gray-600 my-2">
            <mat-icon class="align-middle">calendar_month</mat-icon>
            <strong class="align-middle">Date:</strong>
            {{ event.dateAndTime | date : "longDate" }}
          </p>
          <p class="text-gray-600 my-2">
            <mat-icon class="align-middle">schedule</mat-icon>
            <strong class="align-middle">Time: </strong>
            {{ getFormattedTimeWithTimezone(event.dateAndTime) }}
          </p>
        </div>

        <!-- Event Ticket Types -->
        <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 gap-4">
          <p class="text-gray-600 w-full">
            <strong>Tickets Available: </strong>
            {{ getTotalTicketsAvailable() }}
          </p>
        </div>
      </div>

      <button
        class="px-4 py-2 rounded mt-6 w-full"
        [ngClass]="{
          'bg-blue-500 text-white hover:bg-blue-600':
            getTotalTicketsAvailable() > 0,
          'bg-gray-400 text-gray-700 cursor-not-allowed':
            getTotalTicketsAvailable() === 0
        }"
        (click)="bookEvent(event.eventID)"
        [disabled]="getTotalTicketsAvailable() === 0"
      >
        {{ getTotalTicketsAvailable() > 0 ? "Book Now" : "Sold Out" }}
      </button>
    </div>
  </ng-container>
  }
</div>
